<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Toprefinishing Admin</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="style/business-frontpage.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/1f2bc43dbd.js" crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
</head>

<body>
<check if="{{isset(@SESSION.login)}}">
    <true>
        {{@f3->reroute('login')}}
    </true>
</check>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="navBar">
    <div class="container">
        <a class="navbar-brand" href="{{ @BASE }}">
            TopRefinishing
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item px-1">
                    <a class="nav-link" href="login">
                        Login
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--================================================= Page Content ==================================================-->
<div class="container">
    <h2 class="text-center">TopRefinishing Admin Page</h2>
    <hr>
    <div class="row justify-content-center">
        <div class="col text-center p-5 m-1">
            <p class="services fas fa-tools fa-10x pb-2"></p>
            <a class="btn btn-primary btn-block text-nowrap" href="clients" role="button">
                Manage Contacts
            </a>
        </div>
        <div class="col text-center p-5 m-1">
            <p class="services fas fa-toolbox fa-10x pb-2"></p>
            <a class="btn btn-primary btn-block text-nowrap" href="services" role="button">
                Manage Services
            </a>
        </div>

    </div>
    <div class="text-center m-2">
        <a class="btn btn-info btn-lg" href="logout">
            Log out
        </a>
    </div>
</div>
</body>
