<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <include href="includes/header.html"></include>
    <title>Title</title>
</head>
<body>
    <div class="text-center">
        <h1 class="pt-2" id="contact">Bidding Page for service</h1>
        <form method="post" action="#">

            <div class="form-group">
                <label for="description">Description of the service you require </label><br>
                <textarea class="w-75" type="text" id="description" rows="3" name="description"></textarea>
            </div>
            <div class="form-group">
                <label for="price">Your asking price for this service </label>
                <input  type="number" id="price" name="price" class="w-25"><br>
            </div>

            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
        </form>
    </div>
</body>
</html>