<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container text-center form-group p-5">
    <h1 id="contact">Bidding Page for service</h1>
    <form method="post" action="#">
        <label for="description">Description of the service you require </label>
        <input type="text" id="description" name="description" class="form-control"><br>
        <label for="price">Your asking price for this service </label>
        <input type="number" id="price" name="price" class="form-control"><br>
        <button type="submit" class="btn-primary mt-5">Submit</button>
    </form>
</div>
</body>
</html>